# python compiled files
*.py[cdo]
__pycache__/

# jupyter files
.ipynb_checkpoints/

# dask files
dask-worker-space/
/*.egg-info/

# build artifacts
/dist/*
/docs/_build/*

# editor swap files
\.*.swp
*~
\#*\#

# data storage
data*/*
non-comitted*/*

#
bin/*.o*
log/*
results/*
