# python compiled files
*.py[cdo]
__pycache__/

# cache files
.ruff_cache/*
.prettier_cache/
.pytest_cache/

# jupyter files
.ipynb_checkpoints/
.virtual_documents/

# dask files
dask-worker-space/
/*.egg-info/

# build artifacts
/dist/*
/docs/_build/*
/docs/generated/

# editor swap files
\.*.swp
*~
\#*\#

# data storage
data*/*
non-comitted*/*

#
bin/*.o*
log/*
results/*
.idea/*
.venv/
notebooks/A19124/
notebooks/donnees_importees.tar.gz
notebooks/donnees_importees/
notebooks/states.mp4
notebooks/test/
notebooks/copernicus_credentials.txt
notebooks/pangeo-fish-Copy1.ipynb
